# System and IDE files
.DS_Store
.cache
.env
.gitattributes
.gitignore
.vscode/settings.json

# Python
__pycache__/
.venv/
poetry.lock

# Project directories
deprecated/
deprecated-documents/
example-outputs/
images/
junk-to-sort/
pdfs/

# Source exclusions
src/*
!src/tangents/

# Specific paths
src/augmenta/config/active.json
src/data/databases/
src/flash/data/

# Commented file types
# *.json
# *.md
# *.pdf
# *.png
# *.txt
src/tangents/checkpoints.db
src/tangents/agent_sandbox.ipynb
src/tangents/agent-service-toolkit/
src/tangents/graph_mermaids/
